working
bin
.idea
_playground
*.out
*.temp
*.o
output
tmp
cmake-build-debug

# ** Keep log for quick online reference **
# test_deliverable/C_output
# test_deliverable/C_log
# test_deliverable/C_mips_bin
# test_deliverable/ansi
